/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;

#F65C02; WPS Orange 
#042350; WPS Blue 
#01256F; WPS Text Blue
#4984D1; bright blue
#EBF3FF; pale blue background
#8AAEE3; gray-blue
*/

html {
  font-size: 1.0rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #EBF3FF;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}

.page-title h1 {
  padding: 0;
}

h4 {
  margin-bottom: 0;
}

span.twitter-typeahead {
  display: block !important;
}

.tt-menu {
  width: 422px;
    margin-top: 12px;
    padding: 8px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 300px;
    overflow-y: auto;
}

.edit-only {
  display: none !important;
}

header {
  background: #042350; /* WPS Blue */
}

header .logo img {
  width: 95px;
  margin: 0 auto;
  padding: 10px;
}

.subheader {
  background: #4984D1;
}

.subheader .form-control,
.subheader .form-select {
  width: auto;
}

h1 {
  padding-top: 20px;
  color: #F65C02; /* WPS Orange */
}

#tools {
  padding: 10px 0;
}

#tools .col {
  text-align: center;
}

#tools .pager {
  padding: 0 15px;
  color: #01256F; /* WPS Text Blue */
}

.loading .spinner-border {
  margin: 0 auto;
}

.invalid {
  border: 1px solid red;
}

.form-control:disabled {
  background-color: #EBF3FF;
}

.hint,.signup #purpose .hint {
  font-size: 75%;
}

.signup .main-label {
  font-weight: bold;
}

.signup .info-icon {
  color: #8AAEE3;
}

.signup #type a[data-bs-toggle="tooltip"] {
  text-decoration: none;
  color: inherit;
}

.signup #type .schedule-link {
  font-size: 80%;
}

.signup #type .staff-only-type {
  font-style: italic;
}

.signup .editor-only {
  display: none;
}

.attendance .data-row,
.attendance .data-row.student-row-empty {
  border: 1px solid #888;
  border-radius: 20px;
  padding: 12px;
  min-height: 90px;
  background-color: #FFF;
  overflow: hidden;
}

.attendance:not(.admin) .data-row:not(.current-period.current-date),
.attendance:not(.admin) .data-row.student-row-empty {
  display: none;
  background: #FFFFDD;
}

.attendance .data-row button {
  font-size: 60%;
}

.attendance .data-row .attendance-info label {
  font-size: 75%;
}

.attendance .data-row .attendance-info .time-value {
  color: green;
  font-weight: bold;
}

.attendance .room-badge {
  font-size: 50%;
  margin-left: 10px;
  display: inline-block;
}

.attendance #slider-wrapper {
  overflow: hidden;
}

.attendance .slider {
  position: relative;
  display: flex;
  overflow: hidden;

}

.attendance .panel {
  flex: 1 0 100%;
  position: relative;
  transition: transform 0.5s ease;
}

.hide-left {
  left: -100%;
}

.hide-right {
  left: 100%;
}

.panel.attendance-info .cancel {
  cursor: pointer;
}

.sort-icon i {
  font-size: 75%;
  opacity: 50%;
}

.sort-icon .active {
  opacity: 100%;
}

.sort-icon .loading {
  display: none;
}

.type-warning {
  font-size: 75%;
  text-decoration: italic;
}

h4.sortable {
  cursor: pointer;
}

.admin .tab-panel {
  display: none;

  &.active {
    display: block;
  }
}

.admin .nav-link {
  color: white;

  &.active {
    color: black;
  }
}
